.container {
    height: 500px;
    width: 30%;
    border: 1px solid red;
    margin: auto;
    margin-top: 60px;
}
.display {
    height: 50px;
    width: 75%;
    border: 1px solid yellow;
}
.btn {
    background-color: none;
    width: 20%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px green;
}